OBLODAI_PUBLIC_ID=pk_live_xxx
OBLODAI_SECRET=xxx
# Optional dedicated payout key
# OBLODAI_PAYOUT_PUBLIC_ID=wk_live_xxx
# OBLODAI_PAYOUT_SECRET=xxx
# OBLODAI_BASE_URL=https://api.oblodai.com
# OBLODAI_LOG=debug
